@font-face {
    font-family: 'Martian Mono';
    src: url("assets/fonts/MartianMono-ExtraLight.ttf");
    font-weight: 200;
  }
  @font-face {
    font-family: 'Martian Mono';
    src: url("assets/fonts/MartianMono-Regular.ttf");
    font-weight: 400;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Martian Mono', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
  }

  * {
    box-sizing: border-box;
  }

  .main-header {
    color: rgb(57, 168, 23);
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }

  html {
    scroll-behavior: smooth; 
  }

  .section-item a {
    color: #5a0a1e;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }

  .main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: 45%;
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #672f2f;
}

section {
  display: block;
}

.footer {
  background-color: #c47276;
  padding: 15px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

h1 {
  font-size: 36px;
}


